* {
  text-decoration: none;
  color: #000;
  /*font-family: ;*/
  font-size: 25px;
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-text{
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 10vw;
  margin-bottom: 2vh;
}

#home {
  font-size: 35px;
}

.border {
  height: 5px;
  width: 30vw;
  background-color: black;
  justify-self: flex-end;
} 

.intro {
  height: 50vh;
  display: flex;
  flex-direction: row;
  background-color: firebrick;
  align-items: center;
  border-bottom: #000 solid 2px;
}

.start-img {
  margin-left: 20vw;
  height: 40vh;
  width: 40vw;
  border: solid 3px goldenrod;
  border-radius: 10px;
}

h2{
font-size: 25px;
}

.start-info {
  display: flex;
  position: relative;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  width: 20vw;
  height: auto;
  margin-left: 10vw;
  gap: 10px;
}

.start-info p{
  color: goldenrod;
  font-size: 18px;
}

.start-info h2{
  color: goldenrod;
}


.packlista {
  margin-top: 10vh;
  margin-left: 5vw;
}

.lista {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  border: firebrick 5px solid;
  border-radius: 7px;
  padding: 3vh 3vw;
}