* {
  text-decoration: none;
  /*font-family: ;*/
  font-size: 20px;
  color: black;
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 10vw;
  margin-bottom: 2vh;
}

#home {
  font-size: 30px;
}

.border {
  height: 5px;
  width: 30vw;
  background-color: firebrick;
  justify-self: flex-end;
} 

.intro {
  display: flex;
  flex-direction: row;
}

.start-img {
  margin-top: 10vh;
  margin-left: 15vw;
  height: 40vh;
  width: 40vw;
  border: solid 7px firebrick;
  border-radius: 7px;
}

.start-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  width: 20vw;
  height: auto;
  border: black solid 5px;
  border-radius: 7px;
  margin-top: 10vh;
  margin-left: 10vw;
  padding: 3vh 3vw;
  gap: 10px;
}

.packlista {
  margin-top: 10vh;
  margin-left: 5vw;
}

.lista {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  border: firebrick 5px solid;
  border-radius: 7px;
  padding: 3vh 3vw;
}
